
body {
    background-color: #f4f4f4;
}
.menu-image {
    height: 300px;
    object-fit: cover;
    width: 100%;
    padding-top: 20px;
}
.custom-control-input:checked + .custom-control-label {
    font-weight: bold;
    color: #8e2d16;
}
.addon-item {
    transition: background-color 0.3s;
}
.addon-item:hover {
    background-color: #f8f9fa;
}
.text-custom-price {
    color: #8e2d16;
}
.btn-custom-cart {
    background-color: #8e2d16;
    border-color: #8e2d16;
}
.btn-custom-cart:hover {
    background-color: #6e1e0f;
    border-color: #6e1e0f;
}
