body {
    background-color: #f4f4f4;
}
.favorite-item {
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.favorite-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.favorite-item-image {
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text-custom-price {
    color: #8e2d16;
}
.btn-favorite {
    background-color: #8e2d16;
    color: white;
}
.btn-favorite:hover {
    background-color: #6e1e0f;
    color: white;
}
