body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #7b1e1e;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
}

.header .back-button {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
  color: white;
}

.header .cart-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px 0;
}

.tabs .tab {
  margin: 0 20px;
  font-size: 18px;
  color: #7b1e1e;
}

.tabs .tab.active {
  border-bottom: 2px solid #7b1e1e;
}

.notification-item {
  background-color: #a0b0c0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.notification-item img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.notification-item .details {
  flex-grow: 1;
}

.notification-item .details .name {
  font-weight: bold;
}

.notification-item .details .time {
  color: #666;
}

.footer {
  background-color: #ffd700;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .footer-item {
  text-align: center;
  color: black;
}

.footer .footer-item i {
  display: block;
  font-size: 24px;
}


.cart-icon {
  font-size: 20px;
  color: maroon;
  margin-left: 10px;
}


.speed-text {
  font-family: "Galada", sans-serif;
  color: #fbe87b;
}
.dish-text {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
