
body {
    background-color: #f4f4f4;
}
.restaurant-header {
    position: relative;
    height: 250px;
    background-image: url('/api/placeholder/800/250');
    background-size: cover;
    background-position: center;
}
.restaurant-logo {
    position: absolute;
    bottom: -40px;
    left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 3px solid white;
    background-image: url('/api/placeholder/80/80');
    background-size: cover;
}
.menu-item-card {
    transition: transform 0.3s;
}
.menu-item-card:hover {
    transform: scale(1.02);
}
.badge-custom {
    background-color: #ff6b6b;
    color: white;
}

.btn-sm {
    color: #6e1e0f;
}

.btn-primary {
    color: #ccc6c5;
}

.custom-cart-button {
    background-color: #8e2d16; /* Warna tombol */
    color: white; /* Warna teks */
    border: none; /* Hapus border */
    border-radius: 5px; /* Sudut sedikit membulat */
    padding: 10px 15px; /* Ruang dalam tombol */
    transition: background-color 0.3s ease; /* Efek transisi */
}

.custom-cart-button:hover {
    background-color: white; /* Warna saat hover */
    border-color: #6e1e0f;
    cursor: pointer; /* Mengubah kursor menjadi pointer */
}

.nav-pills .nav-link {
    background-color: #ccc6c5; /* Warna dasar */
    border-color: #6e1e0f;
    color: rgb(0, 0, 0); /* Warna teks */
    transition: background-color 0.3s ease; /* Animasi saat hover */
    margin-right: 5px;
}

.nav-pills .nav-link:hover {
    background-color: #6e1e0f; /* Warna saat hover */
    color: white; /* Warna teks tetap putih saat hover */
}

.nav-pills .nav-link.active {
    background-color: #8e2d16; /* Warna untuk tab aktif */
    color: white; /* Warna teks untuk tab aktif */
}
